@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&display=swap');

$primary-color: #B0228C;
$secundary-color: #04234E;
$tertiary-color: #FFC759;
$shadow-color: rgba(51, 5, 49, 0.35);
$font: 'Jura', sans-serif;

