@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&display=swap');

$primary-color: #bf6d3a;
$secundary-color: #15396b;
$tertiary-color: #ffe659;
$shadow-color: rgba(51, 5, 49, 0.35);
$font: 'Jura', sans-serif;

